<section>
  <div class="container-fluid border-top border-bottom border-info mt-4">
    <h2 class="mt-2 mb-2 text-uppercase text-center titulo">Educación</h2>
  </div>

  <div class="container mt-2 mb-4">
    <div class="row mb-2 mb-md-4">
      <div class="col">
        <h3 class="text-center text-middle year" [class.active]="year === 2022" (click)="year = 2022">2022</h3>
      </div>
      <div class="col">
        <h3 class="text-center text-middle year" [class.active]="year === 2021" (click)="year = 2021">2021</h3>
      </div>
      <div class="col">
        <h3 class="text-center text-middle year" [class.active]="year === 2015" (click)="year = 2015">2015</h3>
      </div>
    </div>

    <div class="row">

      <div class="col-12 col-md-8 offset-md-2" *ngIf="year === 2022">
        <div class="card mb-3">
          <div class="row g-0">
            <div class="col-2 d-flex align-items-center justify-content-center edit-educacion" *ngIf="loggedService.loggedIn">
              <span class="material-icons edit" data-bs-toggle="modal" data-bs-target="#testModal" (click)="setId(myEducacionData[0].idEducacion)">edit</span>
              <span class="material-icons delete">close</span>
            </div>
            <div class="col-4">
              <img src="{{myEducacionData[0].img}}" class="img-fluid rounded-start img-card" alt="{{myEducacionData[0].institucion}}" style="height: 100%;">
            </div>
            <div class="col-8 d-flex align-items-center">
              <div class="card-body">
                <h5 class="card-title">{{myEducacionData[0].titulo}}</h5>
                <p class="card-text">{{myEducacionData[0].institucion}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-8 offset-md-2" *ngIf="year === 2022">
        <div class="card mb-3">
          <div class="row g-0">
            <div class="col-2 d-flex align-items-center justify-content-center edit-educacion" *ngIf="loggedService.loggedIn">
              <span class="material-icons edit" data-bs-toggle="modal" data-bs-target="#testModal" (click)="setId(myEducacionData[1].idEducacion)">edit</span>
              <span class="material-icons delete">close</span>
            </div>
            <div class="col-4">
              <img src="{{myEducacionData[1].img}}" class="img-fluid rounded-start img-card" alt="{{myEducacionData[1].institucion}}" style="height: 100%;">
            </div>
            <div class="col-8 d-flex align-items-center">
              <div class="card-body">
                <h5 class="card-title">{{myEducacionData[1].titulo}}</h5>
                <p class="card-text m-0">{{myEducacionData[1].institucion}}</p>
                <p class="card-text">{{myEducacionData[1].periodo}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-8 offset-md-2" *ngIf="year === 2021">
        <div class="card mb-3">
          <div class="row g-0">
            <div class="col-2 d-flex align-items-center justify-content-center edit-educacion" *ngIf="loggedService.loggedIn">
              <span class="material-icons edit" data-bs-toggle="modal" data-bs-target="#testModal" (click)="setId(myEducacionData[2].idEducacion)">edit</span>
              <span class="material-icons delete">close</span>
            </div>
            <div class="col-4">
              <img src="{{myEducacionData[2].img}}" class="img-fluid rounded-start img-card" alt="{{myEducacionData[2].institucion}}" style="height: 100%;">
            </div>
            <div class="col-8 d-flex align-items-center">
              <div class="card-body">
                <h5 class="card-title">{{myEducacionData[2].titulo}}</h5>
                <p class="card-text">{{myEducacionData[2].institucion}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-8 offset-md-2" *ngIf="year === 2015">
        <div class="card mb-3">
          <div class="row g-0">
            <div class="col-2 d-flex align-items-center justify-content-center edit-educacion" *ngIf="loggedService.loggedIn">
              <span class="material-icons edit" data-bs-toggle="modal" data-bs-target="#testModal" (click)="setId(myEducacionData[3].idEducacion)">edit</span>
              <span class="material-icons delete">close</span>
            </div>
            <div class="col-4">
              <img src="{{myEducacionData[3].img}}" class="img-fluid rounded-start img-card" alt="{{myEducacionData[3].institucion}}" style="height: 100%;">
            </div>
            <div class="col-8 d-flex align-items-center">
              <div class="card-body">
                <h5 class="card-title">{{myEducacionData[3].titulo}}</h5>
                <p class="card-text">{{myEducacionData[3].institucion}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>
