<div class="modal fade" id="deleteModal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="deleteModalLabel" data-bs-keyboard="false">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h5 class="text-center">¿Deseas eliminar este componente de forma permanente?</h5>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <p class="fw-lighter fst-italic text-center">*Para visualizar los cambios debe actualizar la sección mediante el boton de actulizar*</p>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close" (click)="eliminarEstudio()">ELIMINAR</button>
      </div>
    </div>
  </div>
</div>
