<section>
  <div class="container-fluid border-top border-bottom border-info mt-4">
    <h2 class="mt-2 mb-2 text-uppercase text-center titulo">Habilidades</h2>
  </div>

  <div class="container mt-4">
    <div class="row mb-2 mb-md-4">
      <div class="col">
        <h3 class="text-center text-middle year" [class.active]="skills === 'hard'" (click)="skills = 'hard'">DURAS</h3>
      </div>
      <div class="col">
        <h3 class="text-center text-middle year" [class.active]="skills === 'soft'" (click)="skills = 'soft'">BLANDAS</h3>
      </div>
      <div class="col">
        <h3 class="text-center text-middle year" [class.active]="skills === 'languages'" (click)="skills = 'languages'">IDIOMAS</h3>
      </div>
    </div>

    <!-- HABILIDADES DURAS -->
    <div class="row justify-content-center" *ngIf="skills === 'hard'">
      <div class="col-12 col-md-6 col-md-6 col-lg-4 d-flex justify-content-center">
        <svg style="background-image: url('{{mySkillsData[0].img}}');">
          <circle #circle class="meter-100" cx="114" cy="114" r="104" />
        </svg>
      </div>
      <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center">
        <svg style="background-image: url('{{mySkillsData[1].img}}');">
          <circle class="meter-75" cx="114" cy="114" r="104" />
        </svg>
      </div>
      <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center">
        <svg style="background-image: url('{{mySkillsData[2].img}}');">
          <circle class="meter-75" cx="114" cy="114" r="104" />
        </svg>
      </div>
      <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center">
        <svg style="background-image: url('{{mySkillsData[3].img}}');">
          <circle class="meter-50" cx="114" cy="114" r="104" />
        </svg>
      </div>
      <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center">
        <svg style="background-image: url('{{mySkillsData[4].img}}');">
          <circle class="meter-25" cx="114" cy="114" r="104" />
        </svg>
      </div>
      <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center">
        <svg style="background-image: url('{{mySkillsData[5].img}}');">
          <circle class="meter-50" cx="114" cy="114" r="104" />
        </svg>
      </div>
      <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center">
        <svg style="background-image: url('{{mySkillsData[6].img}}');">
          <circle class="meter-50" cx="114" cy="114" r="104" />
        </svg>
      </div>
      <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center">
        <svg style="background-image: url('{{mySkillsData[7].img}}');">
          <circle class="meter-50" cx="114" cy="114" r="104" />
        </svg>
      </div>
      <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center">
        <svg style="background-image: url('{{mySkillsData[8].img}}');">
          <circle class="meter-75" cx="114" cy="114" r="104" />
        </svg>
      </div>
      <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center">
        <svg style="background-image: url('{{mySkillsData[9].img}}');">
          <circle class="meter-75" cx="114" cy="114" r="104" />
        </svg>
      </div>
    </div>

    <!-- HABILIDADES BLANDAS -->
    <div class="row justify-content-center mt-4" *ngIf="skills === 'soft'">
      <div class="col-12 col-lg-6">
        <p class="alert alert-info text-uppercase text-center soft-skills" role="alert">{{mySkillsData[10].nombre}}</p>
      </div>
      <div class="col-12 col-lg-6">
        <p class="alert alert-info text-uppercase text-center soft-skills" role="alert">{{mySkillsData[11].nombre}}</p>
      </div>
      <div class="col-12 col-lg-6">
        <p class="alert alert-info text-uppercase text-center soft-skills" role="alert">{{mySkillsData[12].nombre}}</p>
      </div>
      <div class="col-12 col-lg-6">
        <p class="alert alert-info text-uppercase text-center soft-skills" role="alert">{{mySkillsData[13].nombre}}</p>
      </div>
      <div class="col-12 col-lg-6">
        <p class="alert alert-info text-uppercase text-center soft-skills" role="alert">{{mySkillsData[14].nombre}}</p>
      </div>
      <div class="col-12 col-lg-6">
        <p class="alert alert-info text-uppercase text-center soft-skills" role="alert">{{mySkillsData[15].nombre}}</p>
      </div>
    </div>
    <!-- IDIOMAS -->
    <div class="row justify-content-center mt-4" *ngIf="skills === 'languages'">
      <div class="col-12">
        <p class="text-uppercase text-center languages">{{mySkillsData[16].nombre}} <span class="badge bg-info text-dark">{{mySkillsData[16].otro}}</span></p>
      </div>
      <div class="col-12">
        <p class="text-uppercase text-center languages">{{mySkillsData[17].nombre}} <span class="badge bg-info text-dark">{{mySkillsData[17].otro}}</span></p>
      </div>
    </div>
  </div>

</section>
