<section>
  <div class="container-fluid border-top border-bottom border-info mt-4">
    <h2 class="mt-2 mb-2 text-uppercase text-center titulo">Habilidades</h2>
    <div class="d-flex justify-content-center mb-2" *ngIf="loggedService.loggedIn">
      <a class="btn btn-success text-dark text-center" (click)="actualizarSkills()">
       <p class="d-flex mb-0 me-1">ACTUALIZAR PROYECTOS</p>
      </a>
    </div>
  </div>

  <div class="container-fluid mt-4 fuente" *ngIf="skills === 'hard'">
    <div class="d-flex justify-content-center mb-2" *ngIf="loggedService.loggedIn">
      <a class="btn btn-secondary text-dark text-" data-bs-toggle="modal" data-bs-target="#newSkillsModal">
       <p class="d-flex mb-0 me-1 text-dark">AGREGAR HABILIDAD DURA</p>
      </a>
    </div>
  </div>
  <div class="container-fluid mt-4 fuente" *ngIf="skills === 'soft'">
    <div class="d-flex justify-content-center mb-2" *ngIf="loggedService.loggedIn">
      <a class="btn btn-secondary text-dark text-" data-bs-toggle="modal" data-bs-target="#nuevaBlanda">
       <p class="d-flex mb-0 me-1 text-dark">AGREGAR HABILIDAD BLANDA</p>
      </a>
    </div>
  </div>
  <div class="container-fluid mt-4 fuente" *ngIf="skills === 'languages'">
    <div class="d-flex justify-content-center mb-2" *ngIf="loggedService.loggedIn">
      <a class="btn btn-secondary text-dark text-" data-bs-toggle="modal" data-bs-target="#newLanguagesModal">
       <p class="d-flex mb-0 me-1 text-dark">AGREGAR IDIOMA</p>
      </a>
    </div>
  </div>

  <div class="container mt-4">
    <div class="row mb-2 mb-md-4">
      <div class="col">
        <h3 class="text-center text-middle year" [class.active]="skills === 'hard'" (click)="skills = 'hard'">DURAS</h3>
      </div>
      <div class="col">
        <h3 class="text-center text-middle year" [class.active]="skills === 'soft'" (click)="skills = 'soft'">BLANDAS</h3>
      </div>
      <div class="col">
        <h3 class="text-center text-middle year" [class.active]="skills === 'languages'" (click)="skills = 'languages'">IDIOMAS</h3>
      </div>
    </div>

    <!-- HABILIDADES DURAS -->
    <div class="row justify-content-center" *ngIf="skills === 'hard'">
      <div class="col-12 col-md-6 col-md-6 col-lg-4 d-flex justify-content-center habilidad" *ngFor="let hardSkills of hardSkills">
        <div class="col-12 d-flex align-items-center justify-content-around edit-educacion" *ngIf="loggedService.loggedIn">
          <span class="material-icons delete" data-bs-toggle="modal" data-bs-target="#deleteModal" (click)="setId(hardSkills.idHabilidades); setComponente('habilidad')">close</span>
          <span class="material-icons edit" data-bs-toggle="modal" data-bs-target="#skillsModal" (click)="setId(hardSkills.idHabilidades)">edit</span>
        </div>
        <svg style="background-image: url('{{hardSkills.img}}');">
          <circle #circle class="meter-{{hardSkills.nivel}}" cx="114" cy="114" r="104" />
        </svg>
      </div>
    </div>

    <!-- HABILIDADES BLANDAS -->
    <div class="row justify-content-center mt-4" *ngIf="skills === 'soft'">
      <div class="col-12 col-lg-6 habilidad" *ngFor="let softSkills of softSkills">
        <div class="d-flex align-items-center justify-content-center edit-educacion soft" *ngIf="loggedService.loggedIn">
          <span class="material-icons edit" data-bs-toggle="modal" data-bs-target="#softSkillsModal" (click)="setId(softSkills.idHabilidades)">edit</span>
          <span class="material-icons delete" data-bs-toggle="modal" data-bs-target="#deleteModal" (click)="setId(softSkills.idHabilidades); setComponente('habilidad')">close</span>
        </div>
        <p class="alert alert-info text-uppercase text-center soft-skills" role="alert">{{softSkills.nombre}}</p>
      </div>
    </div>
    <!-- IDIOMAS -->
    <div class="row justify-content-center mt-4" *ngIf="skills === 'languages'">
      <div class="col-12 habilidad" *ngFor="let languagesSkills of languagesSkills">
        <div class="col-12 d-flex align-items-center justify-content-center" *ngIf="loggedService.loggedIn">
          <span class="material-icons edit me-3" data-bs-toggle="modal" data-bs-target="#languagesModal" (click)="setId(languagesSkills.idHabilidades)">edit</span>
          <span class="material-icons delete" data-bs-toggle="modal" data-bs-target="#deleteModal" (click)="setId(languagesSkills.idHabilidades); setComponente('habilidad')">close</span>
        </div>
        <p class="text-uppercase text-center languages">{{languagesSkills.nombre}} <span class="badge bg-info text-dark">{{languagesSkills.otro}}</span></p>
      </div>
    </div>
  </div>

</section>
