<div class="modal" id="testModal" tabindex="-1" aria-labelledby="testModalLabel" aria-hidden="true"  data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editEducacionLabel">EDITAR ESTUDIOS</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="resetForm(); resetFiles()"></button>
      </div>
      <div class="modal-body">
        <form id="educacionForm" [formGroup]="test" class="form-floating needs-validation" (ngSubmit)="postEducacionBd()" novalidate>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="title" placeholder="Titulo"  formControlName="title" required [ngClass]="{'is-invalid': Title?.errors && Title?.touched, 'is-valid': Title?.errors && Title?.touched}">
            <label for="title">Titulo</label>
          </div>
          <div class="form-floating mb-3">
            <select type="select" class="form-control" id="year" placeholder="Año" formControlName="year" required [ngClass]="{'is-invalid': Year?.errors && Year?.touched, 'is-valid': Year?.errors && Year?.touched}">
              <option value="2022">2022</option>
              <option value="2021">2021</option>
              <option value="2015">2015</option>
            </select>
            <label for="year">Año</label>
          </div>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="institute" placeholder="institute" formControlName="institute" required [ngClass]="{'is-invalid': Institute?.errors && Institute?.touched, 'is-valid': Institute?.errors && Institute?.touched}">
            <label for="institute">Institucion</label>
          </div>
          <div class="mb-3">
            <label for="instituteImg" class="form-label">Imagen</label>
            <angular-file-uploader [config]="afuConfig" (fileSelected)="resetFiles(); fileSelected($event)"[resetUpload]=single></angular-file-uploader>
            <button type="button" class="col-12 btn btn-secondary" (click)="resetFiles()">Eliminar Imagen</button>
          </div>
          <div class="mb-3">
            <label for="time" class="form-label">Periodo</label>
            <input class="form-control" id="time" formControlName="time">
          </div>
        </form>
        <button type="button" class="btn btn-outline-dark col-4 offset-4" (click)="setDefaultForm()">Auto-rellenado</button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="resetForm(); resetFiles()">Descartar Cambios</button>
        <button type="submit" class="btn btn-success" form="educacionForm" [disabled]="test.invalid">GUARDAR</button>
      </div>
    </div>
  </div>
</div>
