.img-card {
  width: 100%;
  object-fit: cover;
}

.fuente {
  font-family: 'Montserrat', sans-serif;
}

.edit-experiencia {
  position: absolute;
  right: 0;
  top: 5%;
  z-index: 1;
}

.edit-experiencia .edit, .edit-experiencia .delete {
  cursor: pointer;
}
