<div class="container-fluid p-0 banner" style='background-image: url({{miPersonalData.banner}})'>
  <div class="row">
  </div>
</div>

<div class="container info-container">
  <div class="profile-pic" style='background-image: url({{miPersonalData.img}})'></div>
  <h2 class="d-none d-lg-block text-uppercase fw-bold text-center name-absolute">{{miPersonalData.nombre}} {{miPersonalData.apellido}}</h2>

  <div class="row">
    <div class="col-12 d-lg-none name">
      <h2 class="text-uppercase fw-bold text-center">{{miPersonalData.nombre}} {{miPersonalData.apellido}}</h2>
    </div>
  </div>
  <div class="row d-none d-lg-block" style="height: 170px;"></div>
  <div class="row mt-2">
    <h3 class="col-12 col-lg-6 offset-lg-6 mt-lg-3 mb-lg-3">{{miPersonalData.titulo}}</h3>
    <h3 class="col-12 col-lg-6 offset-lg-6">{{miPersonalData.tituloSecundario}}</h3>
  </div>

  <div class="row mt-2 mb-3 mt-lg-4">
    <div class="accordion accordion-flush sobre-mi mt-lg-4" id="about-me">
      <div class="accordion-item border border-3">
        <h2 class="accordion-header text-center" id="flush-headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            Más sobre mi
          </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#about-me">
          <div class="accordion-body">
            {{miPersonalData.descripcion}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
