<div class="container-fluid p-0 banner">
  <div class="row">
  </div>
</div>

<div class="container info-container">
  <div class="profile-pic"></div>
  <h2 class="d-none d-lg-block text-uppercase fw-bold text-center name-absolute">Esteban Naón</h2>

  <div class="row">
    <div class="col-12 d-lg-none name">
      <h2 class="text-uppercase fw-bold text-center">Esteban Naón</h2>
    </div>
  </div>
  <div class="row d-none d-lg-block" style="height: 170px;"></div>
  <div class="row mt-2">
    <h3 class="col-12 col-lg-6 offset-lg-6 mt-lg-3 mb-lg-3">Desarrollador Full Stack JR</h3>
    <h3 class="col-12 col-lg-6 offset-lg-6">Licenciado en Educación Física</h3>
  </div>

  <div class="row mt-2 mb-3 mt-lg-4">
    <div class="accordion accordion-flush sobre-mi mt-lg-4" id="about-me">
      <div class="accordion-item border border-3">
        <h2 class="accordion-header text-center" id="flush-headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            Más sobre mi
          </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#about-me">
          <div class="accordion-body">
            Licenciado en educación física, egresado de la Universidad Nacional de la Matanza, que redescubrió su vocación profesional en el área de la programación. En 2020 comencé mi camino en el desarrollo web desde el front-end y actualmente evoco mi futuro hacia el desarrollo full-stack.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
