* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.component-container {
  /* background-color: #212529;
  background-image: linear-gradient(180deg, #212529 26%, #ffffff 100%); */
  perspective: 2px;
  transform-style: preserve-3d;
}

.component-container::after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateZ(-1px) scale(1.5);
  background-size: 100%;
  z-index: -1;
}

.bg::after {
  background: linear-gradient(rgb(143 143 143 / 50%), rgb(143 143 143 / 50%)), url("./assets/banner.jpg");
  background-size: cover;
}

.titulo {
  font-family: 'Roboto Slab', serif;
  font-style: italic;
  font-weight: 700;
}
